.description{
   margin: 120px 150px; 
}

.description-navigator{
    display: flex;
}

.description-nav-box{
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 600;
   width: 171px;
   height: 70px;
   border: 1px solid #d0d0d0;
   margin-bottom: 20px; 
}
.fade{
    margin-left: 20px;
    background: #fbfbfb;
    color: #555; 
}

.descriptionbox-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #d0d0d0;
    padding: 48px;
    padding-bottom: 70px; 
}