.offer{
    display: flex;
    margin: auto;
    width: 65%;
    height: 60vh;
    padding: 0px 140px;
    margin-top: 150px;
    background: linear-gradient(180deg,#fde1ff 0%, #e1ffea22 60%);
}

.offer-left{
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;

}

.offer-left h1{
    color: #171717;
    font-size: 70px;
    font-weight: 600;
}

.offer-left p{
    font-size: 22px;
    font-weight: 600;
    color: #171717;
}

.offer-left button{
    height: 70px;
    width: 282px;
    border: none;
    background: #ff4141;
    color: white;
    border-radius: 12px;
    margin-top: 20px;
}

.offer-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}